    
    /* CSS GLOBAL */
    
    *{
        padding:0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        overflow: auto;
        
    }

    @font-face{
        font-family: "LOTR";
        src: url(../Grids/Fonts/LOTR.TTF);
    }



    /* CSS INDEX */
    .proyecto{
        
        display: grid;
        justify-content: space-between;
        grid-template-columns: 500px 500px 500px;
        grid-template-rows: 400px 50px 1100px 150px 200px;
        background: linear-gradient(rgba(29, 36, 64, 1) ,rgba(29, 36, 64, 1 ));
        
        grid-template-areas:
        
        "section-header section-header section-header"
        
        "navbar navbar navbar"
        
        "index-menu index-menu index-menu"
        
        "derivation-index-menu derivation-index-menu derivation-index-menu"
        
        "footer footer footer"
        ;
    }
    .section-header, .navbar, .index-menu, .derivation-index-menu, .footer{
        padding: 10px;
        
    
    }
    .section-header{
        grid-area: section-header;
        background: linear-gradient(rgba(29, 36, 64, 0.5) ,rgba(29,36,64,0.5)),url(../Media/Imagenes/Telperion.jpg);
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;  
          
        
    }   
    .header-tittle{
        text-align: center;
        font-family: 'LOTR';
        font-size: 100px;
        width: 800px;
        color:#fdbf5c;
        
    }   
    .navbar{
        grid-area: navbar;  
        background-color:#9b0800;
        
        
        
    }    
    .navbar ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        

    } 
    .nav-item{
        color:#fdbf5c;
        font-family: 'LOTR', Courier, monospace;
        font-size: 22px;
    }
    .path-header{
        font-size: 50px;
        font-family: "LOTR";
        margin-top: 100px;
        margin-bottom: 100px;
        width: 500px;
        color:#f69a0b ;
        text-align: center;
        

    }
    .general-header-index{
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 30px;
    }
    .index-menu{
        grid-area: index-menu;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }  
    .derivation-index-menu{
        grid-area: derivation-index-menu;
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
    .images-of-arda{
        width: 300px;
        height: 200px;
        border-radius: 5px;
    }   
    .videos-of-arda{
        width: 300px;
        height: 200px;
    }
    .coffe-talks-videos{
        width: 300px;
        height: 200px;
    }
    .footer{
        grid-area: footer;
    }



    /* CSS GALERIA */
    .proyecto-2{
    display: grid;
    background: linear-gradient(rgba(29, 36, 64, 1) ,rgba(29, 36, 64, 1 ));
    grid-template-columns: 250px 1000px;
    grid-template-rows: 400px 50px 800px 200px 200px;
    grid-template-areas: 
    
    "section-header-2 section-header-2 section-header-2"
    
    "navbar-2 navbar-2 navbar-2"
    
    "galery-information galery galery"
    
    "galery-information galery galery"
    
    "footer-2 footer-2 footer-2 ";   
    }

    .section-header-2{
        grid-area: section-header-2;
        background: linear-gradient(rgba(29, 36, 64, 0.3) ,rgba(29,36,64,0.3)),url(../Media/Imagenes/Telperion.jpg);
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;  
          
    }
    .header-tittle-2{
        text-align: center;
        font-family: 'LOTR';
        font-size: 100px;
        width: 800px;
        color:#fdbf5c ;
        
    }  
    .navbar-2{
        grid-area: navbar-2;  
        background-color:#9b0800; 
        background: linear-gradient(rgba(155, 8, 0, 0.6) ,rgba(155, 8, 0, 0.6));
        
    }

    .navbar-2 ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
    } 
    .galery-information{
        grid-row: galery-information;
        font-size: 22px;
        font-family: "LOTR"; 
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        line-height: 50px;
        background: linear-gradient(rgba(155, 8, 0, 0.3) ,rgba(155, 8, 0, 0.3));
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        
        
    }

    .item-information{
        color: #fdbf5c;
    }

    .row-galery{
        grid-row: galery;
        background: linear-gradient(rgba(155, 8, 0, 0.3) ,rgba(155, 8, 0, 0.3));
        display: flex;
        margin-top: 10px;
        gap: 10px;
        padding: 10px;
            
    }

    .column-galery{
        display: 25%;
    }

    
    .image-galery{
        width: 200px;
        height: 100px;
        border-radius: 5px;

        
    }

    .footer-2{
        grid-area: footer-2;
        background: linear-gradient(rgba(155, 8, 0, 0.3) ,rgba(155, 8, 0, 0.3));
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .section-header-2, .navbar-2, .galery-information, .footer-2{
        padding: 10px;
    }



    /* CSS NOSOTROS */
    .proyecto-3{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100vh;
    column-gap: 5px;
    row-gap: 5px;

    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 300px 50px 100px 550px 250px 200px;
    
    grid-template-areas: 
    
    "section-header-3 section-header-3 section-header-3"
    "navbar-3 navbar-3 navbar-3"
    "start-information start-information start-information"
    "content-information content-information content-information"
    "content-information-2 content-information-2 content-information-2"
    "footer-3 footer-3 footer-3";
    
    }

    .section-header-3{
    grid-area: section-header-3;
    }

    .navbar-3{
    grid-area: navbar-3;
    }
    .start-information{
    grid-area: start-information;
    }

    .content-information{
    grid-area: content-information;
    display: flex;
    flex-direction: column;
    width: 500px;
    }

    .content-information-text{
    font-size: 20px;
    }

    .content-information-2{
    grid-area: content-information-2;
    }

    .container-information{
    background-color: burlywood;
    

    }

    .footer-3{
    grid-area: footer-3;
    }

    .section-header-3, .navbar-3, .start-information, .content-information, .content-information-2, .footer-3{
    padding: 10px; 
    border: 2px solid;
    }

    