    *{
        padding:0;
        margin: 0;
        box-sizing: border-box;
        overflow: auto;
        text-decoration: none;
    }

    @font-face{
        font-family: "LOTR";
        src: url(../Grids/Fonts/LOTR.TTF);
    }

    .proyecto{
        
        display: grid;
        justify-content: space-between;
        grid-template-columns: 500px 500px 500px;
        grid-template-rows: 400px 50px 1000px 150px 200px;
        row-gap: 5px;
        column-gap: 5px; 
        
        grid-template-areas:
        
        "section-header section-header section-header"
        
        "navbar navbar navbar"
        
        "index-menu index-menu index-menu"
        
        "derivation-index-menu derivation-index-menu derivation-index-menu"
        
        "footer footer footer"
        ;
    }

    .section-header, .navbar, .index-menu, .derivation-index-menu, .footer{
        padding: 10px; 
        border: 2px solid;  
    
    }

    .section-header{
        grid-area: section-header;
        background: linear-gradient(rgba(12,12,12,0.479),rgba(12,12,12,0.479)),url(../Media/Imagenes/Telperion.jpg);
        /* background-image: url(../Media/Imagenes/Telperion.jpg); */
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;  
          
        
    }
    
    .header-tittle{
        text-align: center;
        font-family: 'LOTR';
        font-size: 100px;
        width: 800px;
        color: white;
        
    }
    
    .navbar{
        grid-area: navbar;  
        background-color: burlywood;
        
        
    }
     

    .navbar ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        

    } 
    .nav-item{
        color: black;
        font-family: 'LOTR', Courier, monospace;
        font-size: 20px;
    }

    .path-header{
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .general-header-index{
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 30px;
    }

    
    .index-menu{
        grid-area: index-menu;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
   

    .derivation-index-menu{
        grid-area: derivation-index-menu;
    }
    

    .images-of-arda{
        width: 300px;
        height: 200px;
        border-radius: 5px;
    }
    
    .videos-of-arda{
        width: 300px;
        height: 200px;
    }

    .coffe-talks-videos{
        width: 300px;
        height: 200px;
    }

    .footer{
        grid-area: footer;
    }











    .proyecto-2{
        
        display: grid;
        justify-content: center;
        width: 100%;
        height: 100vh;
        grid-template-columns: 200px 950px;
        grid-template-rows:300px 50px 100px 1000px 200px;
        row-gap: 5px;
        column-gap: 5px;

        grid-template-areas: 
        
        "section-header-2 section-header-2 "
        
        "navbar-2 navbar-2 "
        
        "galery-information galery "

        "galery-information galery "

        "footer-2 footer-2 ";

    }

    .section-header-2{
        grid-area: section-header-2;
        background-color: blueviolet;
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .navbar-2{
        grid-area: navbar-2;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: brown;
    }

    .galery-information{
        grid-row: galery-information;
        font-size: 30px;
        
    }

    .galery{
        grid-row: galery;
        display: flex;
    
        justify-content: center;


    }

    .image-galery{
        height: 200px;
        width: 300px;
    }

    .footer-2{
        grid-area: footer-2;
    }

    .section-header-2, .navbar-2, .galery-information, .galery, .footer-2{
        padding: 10px; 
        border: 2px solid; 

    }










.proyecto-3{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100vh;
    column-gap: 5px;
    row-gap: 5px;

    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 300px 50px 100px 550px 250px 200px;
    
    grid-template-areas: 
    
    "section-header-3 section-header-3 section-header-3"
    "navbar-3 navbar-3 navbar-3"
    "start-information start-information start-information"
    "content-information content-information content-information"
    "content-information-2 content-information-2 content-information-2"
    "footer-3 footer-3 footer-3";
    
}

.section-header-3{
    grid-area: section-header-3;
}

.navbar-3{
    grid-area: navbar-3;
}
.start-information{
    grid-area: start-information;
}

.content-information{
    grid-area: content-information;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.content-information-text{
    font-size: 20px;
}

.content-information-2{
    grid-area: content-information-2;
}

.container-information{
    background-color: burlywood;
    

}

.footer-3{
    grid-area: footer-3;
}

.section-header-3, .navbar-3, .start-information, .content-information, .content-information-2, .footer-3{
    padding: 10px; 
    border: 2px solid;
}

    