    /* CSS GLOBAL */

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;

    }

    @font-face {
        font-family: "LOTR";
        src: url(../Styles/Fonts/LOTR.TTF);
    }

    a {
        text-decoration: none;
    }







    /* CSS INDEX */

    .header {
        grid-area: header;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../Media/Imagenes/Telperion.jpg);
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 100%;

    }

    .navbar-brand {
        font-family: "LOTR";
    }

    .nav-link {
        font-family: "LOTR";
    }

    .header-tittle {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: 'LOTR';
        font-size: 80px;
        color: white;
    }


    .proyecto {
        grid-area: index-menu;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../Media/Imagenes/pxfuel.jpg);
        background-attachment: fixed;
        padding-bottom: 180px;


    }



    .fs-1 {
        font-family: "LOTR";
        margin-top: 60px;
        margin-bottom: 60px;
    }


    .footer{
        background-color: black;
    }

    .footer .container .row .col{
        display: flex;
        justify-content: center;
        padding: 60px;
        

        

    }
    .footer .container .row .col img{
        width: 250px;
        height: 300px;

    }
    
    
    





    /* CSS FORMULARIO */

    .formulario {
        grid-area: index-menu;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../Media/Imagenes/pxfuel.jpg);
        background-attachment: fixed;

    }

    .fs-2{
        font-family: "LOTR";
        margin-top: 60px;
        margin-bottom: 60px;
        
    }

    .fs-3{
        font-family: "LOTR";
        color:#f69a0b;
    }
    .text-uppercase{
        color:#f69a0b;
    }

    .formulario .container .row .col .mb-3 .img-fluid{
        border-radius: 6px;
        width: 720px;
        margin-top: 60px;
    }
   

    

    