    
    /* CSS GLOBAL */
    
    *{
        padding:0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        
    }

    @font-face{
        font-family: "LOTR";
        src: url(../Styles/Fonts/LOTR.TTF);
    }



    /* CSS INDEX */
    .proyecto{
        
        display: grid;
        justify-content: space-between;
        grid-template-columns: 500px 500px 500px;
        grid-template-rows: 400px 50px 100%  200px;
        background: linear-gradient(rgba(29, 36, 64, 1) ,rgba(29, 36, 64, 1 ));
        
        grid-template-areas:
        
        "section-header section-header section-header"
        
        "navbar navbar navbar"
        
        "index-menu index-menu index-menu"
         
        "footer footer footer"
        ;
    }
    
    .section-header{
        grid-area: section-header;
        background: linear-gradient(rgba(0, 0, 0, 0.4) ,rgba(0, 0, 0, 0.4)),url(../Media/Imagenes/Telperion.jpg);
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;  
          
        
    }   
    .header-tittle{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: 'LOTR';
        font-size: 100px;
        height: 300px;
        width: 100%;
        color:#fdbf5c;
        
        
    }   
    .navbar{
        grid-area: navbar;  
        background: linear-gradient(rgba(0, 0, 0, 1) ,rgba(0, 0, 0, 1));
        display: flex;
        align-items: center;

    
    }    
    .navbar ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        

    } 
    .nav-item{
        color:#fdbf5c;
        font-family: 'LOTR', Courier, monospace;
        font-size: 25px;
    
        
    }
    .index-menu{
        grid-area: index-menu;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(rgba(0, 0, 0, 0.6) ,rgba(0, 0, 0, 0.6)),url(../Media/Imagenes/pxfuel.jpg);
       
    } 

    .header-images-tittles{
        display: flex;
        text-align: center;
        justify-content: center;
        align-self: center;
        align-items: center;
        font-family: "LOTR";
        font-size: 40px;
        color:#fdbf5c;
        padding-top: 100px;
        padding-bottom: 50px;
        
       
    }

    .section-1{
        background: linear-gradient(rgba(253, 253, 253, 0.2) ,rgba(255, 255, 255, 0.2));
        margin-top: 100px;
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .section-1-bis{
        
        width: 70%;
    }

    .section-2-bis{
        width: 70%;
    }

    

    .section-2{
        background: linear-gradient(rgba(253, 253, 253, 0.2) ,rgba(255, 255, 255, 0.2));
        margin-top: 100px;
        width: 70%;
        height: 70%;
    }
    
    .general-header-index{
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 30px;
        font-family: "LOTR";
        
    }
    .derivation-index-menu{
        grid-area: derivation-index-menu;
        
        
            
        
        
      
    }  
    .derivation-p{
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 30px;
        font-family: "LOTR";
        color: aliceblue;
        text-align: center;
    }

    
    .footer{
        grid-area: footer;
        background: linear-gradient(rgba(253, 253, 253, 1) ,rgba(255, 255, 255, 1));
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    
    .image-footer{
        width: 200px;
        height: 250px;
        margin-top: 50px;
        margin-bottom: 25px;
        
    
    }

    .footer-p{
        font-family: "LOTR";
        color:#f69a0b ;
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
        
    }

    .footer-p2{
        font-family: 'Times New Roman', Times, serif;
        color: #f69a0b;
        font-size: 20px;
    }







    /* CSS GALERIA */
    .proyecto-2{
        background: linear-gradient(rgba(0, 0, 0, 0.6) ,rgba(0, 0, 0, 0.6)),url(../Media/Imagenes/pxfuel.jpg);
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 400px 50px 100px 1000px 200px;
        grid-template-areas:
        
        "section-header-2 section-header-2 section-header-2"
        "navbar-2 navbar-2 navbar-2"
        "galery-items galery-pictures galery-pictures"
        "galery-items galery-pictures galery-pictures"
        "footer footer footer"; 
    }

    .section-header-2{
        grid-area: section-header-2;
        background: linear-gradient(rgba(0, 0, 0, 0.4) ,rgba(0, 0, 0, 0.4)),url(../Media/Imagenes/Telperion.jpg);
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .header-tittle-2{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: 'LOTR';
        font-size: 100px;
        height: 300px;
        width: 100%;
        color: #fdbf5c;
        
        
    } 
    .navbar-2{
        grid-area: navbar-2;  
        background: linear-gradient(rgba(0, 0, 0, 1) ,rgba(0, 0, 0, 1));
        display: flex;
        align-items: center;
    }

    .navbar-2 ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        

    }
    .nav-item-2{
        color:#fdbf5c;
        font-family: 'LOTR', Courier, monospace;
        font-size: 25px;  
    } 
  
    .galery-items{
        grid-area: galery-items;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        line-height: 25px;
        background: linear-gradient(rgba(253, 253, 253, 0.2) ,rgba(255, 255, 255, 0.2));
        margin-top: 10px;
        margin-left: 10px ;
   
    }
    .galery-item{
        font-size: 20px ;
    }
    .galery-pictures{
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax (250px, 1fr));
        grid-area: galery-pictures;
        background: linear-gradient(rgba(253, 253, 253, 0.2) ,rgba(255, 255, 255, 0.2));    
        padding: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
      
    
        
    }
    .footer{
        grid-area: footer;
    }


    
    .picture{
        background-color:#f69a0b ;
        border:2px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
     
        
    }
    
    /* CSS NOSOTROS */
    .proyecto-3{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100vh;
    column-gap: 5px;
    row-gap: 5px;

    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 300px 50px 100px 550px 250px 200px;
    
    
    }
    
    

    
  

    